body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  margin-bottom: 95px;
}

.header {
  font-family: "Archivo", sans-serif;
  font-size: 25px;
  font-weight: bold;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#root > div {
  width: 100%;
}

.wrapper {
  margin-top: 85px;
}

nav > div:first-child > img {
  width: 60px;
  cursor: pointer;
}

nav > div:nth-child(3) > img {
  width: 30px;
}

.cardBox{
  width: 350px;
  height: 600px;
  background-color: #F8F8F8;
  border-radius: 10px;
  box-shadow: -66.916px 49.009px 23.562px 0px rgba(112, 112, 112, 0.00), -43.354px 31.102px 21.677px 0px rgba(112, 112, 112, 0.01), -24.504px 17.907px 17.907px 0px rgba(112, 112, 112, 0.05), -10.367px 7.54px 13.195px 0px rgba(112, 112, 112, 0.09), -2.827px 1.885px 7.54px 0px rgba(112, 112, 112, 0.10);
  border-radius: 10px;
  font-family: "Archivo", sans-serif;
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}

.card-list {
  display: flex;
  overflow-x: scroll;
  padding: 3rem 140px;
}

.card-list::-webkit-scrollbar {
  display: none;
}

.cardBox:hover ~ .cardBox {
  transform: translateX(370px);
}

.cardBox:not(:first-child) {
  margin-left: -200px;
}

.imgBox {
  width: 350px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.infoBox {
  display: flex;
  height: 200px;
  padding: 18.85px;
  flex-direction: column;
  justify-content: center;
  color: #FF594B;
}

.title {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
}

.description {
  font-weight: medium;
  font-size: 15px;
}

.category_boxes{
  display: flex;
  justify-content: center;
  align-items: center;
}

.category_CardBox {
  width: 350px;
  height: 450px;
  background-color: #F8F8F8;
  box-shadow: -66.916px 49.009px 23.562px 0px rgba(112, 112, 112, 0.00), -43.354px 31.102px 21.677px 0px rgba(112, 112, 112, 0.01), -24.504px 17.907px 17.907px 0px rgba(112, 112, 112, 0.05), -10.367px 7.54px 13.195px 0px rgba(112, 112, 112, 0.09), -2.827px 1.885px 7.54px 0px rgba(112, 112, 112, 0.10);
  border-radius: 10px;
  font-family: "Archivo", sans-serif;
  transition: transform 0.4s ease-in-out;
}

.category_CardBox:not(:first-child) {
  margin-left: 15px;
}

.category_imgBox {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.category_infoBox {
  display: flex;
  height: 200px;
  padding: 0px 20px;
  flex-direction: column;
  justify-content: center;
  color: #FF594B;
}

.category-btn {
  padding: 10px 0;
  margin-top: 20px;
  width: 100%;
  background-color: #FF594B;
  color: #F8F8F8;
  border-radius: 100px;
  border: 1px solid #F8F8F8;
}

.category-btn:hover {
  background-color: #F8F8F8;
  color: #FF594B;
  border: 1px solid #FF594B;
}

.objectImage {
  width: 175px;
  height: 122px;
  border-radius: 10px;
  object-fit: cover;
}

/* .objectImage:hover {
  width: 572px;
  height: 399px;
  position: absolute; 
  z-index: 10;
  top: 15px;
  left: 0;
} */

.objectTitle {
  font-family: "Archivo", sans-serif;
  font-weight: medium;
  font-style: italic;
  font-size: 30px;
  margin-right: 20px;
}

.objectDescription {
  color: #FF594B;
  font-family: "Archivo", sans-serif;
  font-style: italic;
  font-size: 20px;
}

.objectTable {
  height: 160px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.objectTable:first-child {
  border-top: 1px solid black;
}

.object_Table {
  padding: 0 140px;
}

.object_Table > table {
  width: 100%;
}

.objectInfo {
  margin-left: 65px;
  display: flex;
  align-items: baseline;
}

.table_button {
  width: 80px;
}

.selectedCardBox {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 650px;
  position: absolute;
  z-index: 10;
  border-radius: 10px;
  background: #F8F8F8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 110px 156px 53px 0px rgba(148, 148, 148, 0.00), 70px 100px 49px 0px rgba(148, 148, 148, 0.01), 39px 56px 41px 0px rgba(148, 148, 148, 0.05), 18px 25px 30px 0px rgba(148, 148, 148, 0.09), 4px 6px 17px 0px rgba(148, 148, 148, 0.10);
}

.cardImage {
  width: 500px;
  height: 650px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 80px;
}

.cardInfo > div:nth-child(2) {
  display: flex;
  height: 360px;
  flex-direction: column;
  justify-content: center;
}


.cardButton {
  display: flex;
  width: 530px;
  text-align: center;
  height: 55px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #FF594B;
  box-shadow: -1px 2px 10px 0px rgba(0, 0, 0, 0.20);
  position: relative;
  text-decoration: none;
}

.cardButton > div:first-child {
  color: #FFF;
  text-align: center;
  font-family: Archivo;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}

.cardIcon {
  position: absolute;
  right: 0;
}

.cardTitle {
  color: #000;
  font-family: Archivo;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
}

.cardArtist {
  color: #000;
  font-family: Archivo;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

.cardTable {
  display: flex;
}

.cardTable > div:first-child {
  color: #FF594B;
  font-family: Archivo;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  margin-right: 20px;
}

.cardTable > div:nth-child(2) {
  color: #000;
  font-family: Archivo;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
}

.none {
  display: none;
}

.closeButton {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 30px;
  cursor: pointer;
}

.backgroundOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(53, 53, 53, 0.4); 
  backdrop-filter: blur(2px); 
  z-index: 5; 
}

.previous { 
  position: absolute;
  display: flex;
  top: -60px;
  left: 150px;
  align-items: center;
  cursor: pointer;
}

.previousCard { 
  position: absolute;
  display: flex;
  left: 140px;
  align-items: center;
  cursor: pointer;
}

.previousResult {
  position: absolute;
  display: flex;
  top: -45px;
  left: 140px;
  align-items: center;
  cursor: pointer;
}

.wrapper {
  position: relative;
}

.previousImg {
  width: 12px;
  margin-right: 5px;
}

.previousText {
  color: #CCC;
  text-align: center;
  font-family: Archivo;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.loading {
  background: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 700px;
}

.mainInfo > div:first-child {
  color: #FFF;
  text-shadow: 3.585px 3.585px 8.963px rgba(0, 0, 0, 0.25);
  font-family: Archivo;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 15px;
}

.mainInfo > div:nth-child(2) {
  color: #FFF;
  text-shadow: 3.585px 3.585px 8.963px rgba(0, 0, 0, 0.25);
  font-family: Archivo;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 50px;
}

.mainInfo > div:nth-child(3) {
  color: #FFF;
  font-family: Archivo;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #FF594B;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.mainInfo > div:nth-child(3):hover {
  background-color: #FFF;
  color:#FF594B;
}

.main > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 85px;
  z-index: -1;
}

.noMargin {
  margin: 0;
}